.viewport
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 !important;
    aspect-ratio: 16/9;
    background: black;
}

.viewport canvas
{
    width: 100%;
    height: 100%;
    display: block;
}